/* Google Fonts. CSS rules to specify families: font-family: 'Catamaran', sans-serif;
font-family: 'Rosario', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ---------- Header ---------- */

.header-text {
    color: #748795;
}

.flex-item {
    text-align: right;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.jaynav {
    opacity: 1.0;
    background-color: #ffffff;
}

/* ---------- Footer ---------- */

footer {
    background-color: #E3B723;
    color: #43257F;
    height: 45px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links {
    padding-bottom: 15px;
}

.fa-icon {
    width: 36px;
    height: 36px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 8px;
    text-align: center;
    color: #43257F;
    /* background: #43257F; */
}

.music-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 13x;
    line-height: 7px;
    color: #43257F;
}

/*
.social-links li a i:hover {
    background: #e84610;
}
*/

#footer-details {
    padding: 0px;
}

/* ---------- Fonts ----------*/

.jnav-text {
    color: #43257F;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

 .heading-text-01 {
    font-family: 'Rosario', sans-serif;
    margin-top: 50px;    
 }

 .font-quotes_01 {
     font-family: 'Catamaran', sans-serif;   
 }

.leading-text {
    font-family: 'Rosario', sans-serif;
    font-size: 35px;
    color: #43257F;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}

.jay-quote {
    margin-top: 15px;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    color: #43257F;
    text-align: center;
}

.album-quote {
    margin-top: 15px;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #253B46;
    text-align: center;
}
.album-text {
    margin-top: 15px;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.italic {
    font-style: italic;
}

#video-head {
    font-family: 'Rosario', sans-serif;
    font-size: 25px;
    color: #43257F;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}

/* .text-uppercase {
    
} */

/* ---------- Colours ---------- */

.bg-color-tiffany {
    background-color: #d4d4d1;
}

.bg-color-videos {
    background-color: #889C91;
}

/* ---------- Images, photos, videos ---------- */

#ptg-tiffany {
    
    background: url(../images/tiffany.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 527px;
}

.sales-item {
    display: block;
    width: 50px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.alpha {
    background: url(../images/alpha-icon.png);
}
/* This code taken from https://flaviocopes.com/responsive-youtube-videos/ */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*

/* ---------- Padding, margins, backgrounds, etc ----------*/

.jay-top-01 {
    padding-top: 65px;
}

.jay-top-02 {
    padding-top: 15px;
}

#sales-icons {
    padding-top: 5px;
    padding-bottom: 10px;
}

.sorolla-tiffany {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
}

#about-ptg-tiffany {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;  
}

.jay-videos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
}

#about-videos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;      
}
/*
.container-video {

}
*/

/* ---------- Home page ---------- */

.jay-album {
    padding-left: 15px;
}
/*
.container {
max-width: 60%;
margin-right: auto;
margin-left: auto;
}
*/

/*
.jsq-photo-01 {
    margin: 0 auto;
    max-height: 50px;
    }
*/

/* ---------- About page ---------- */

.jaysq-photo-02 {
    background: url(../images/jaysq-photo-02.jpg);
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 527px;
}

.about-title {
    text-align: center;
    margin-top: 140px;
    padding-bottom: 50px;
    padding-right: 30px;
}

/*
#videos-divider {
    width: 50px;
    height: 5px;
    margin: 0 auto;
    border: 3px solid #889C91;
}
*/

.standard-divider {
    width: 450px;
    height: 0px;
    margin: 0 auto;
    border: 3px solid rgba(67, 62, 58, 0.75);
}

.core-features-bg, .about-features-bg, .staircase-title-bg {
    background-color: rgba(203, 211, 223, 0.28);
}

.about-1-features-details {
    padding-top: 0px;
    padding-bottom: 150px;
}

.features-structure {
    padding-top: 25px;
}

.about-1-features {
    position: relative;
    margin-top: 80px;
    text-align: center;
}

.about-1-features {
    font-weight: 400;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #433e3a;
}

/* ---------- Calendar page ---------- */

.beakfield-photo {
    background: url(../images/beakfield-photo-01.jpg);
     opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 300px;
}

colourchart-image {
    background: url(../images/colourchart.jpg);
     opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 300px;
}

/* ---------- Contact page ---------- */

/* ---------- Media queries ---------- */

@media screen and (min-width: 600px) {
    .jsq-photo-01 {
        max-width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) {
    .leading-text {
        max-width: 60%;
        margin: 0 auto;
        
    }
}
@media screen and (min-width: 600px) {
    .font-quotes_01 {
        max-width: 60%;
        margin: 0 auto;
    }
}


.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.p-0 {
    padding: 0!important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.row {
	display: ms flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: 15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.home-recordings-section {
    padding-top: 20px;
	padding-bottom: 20px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/*
.recordings-title-bg {
    background-color: rgba(203, 211, 223, 0.28);
}
*/
/*
.recordings-section {
}
*/

.recordings-section-title {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

/*
.recordings-title-sm {
}
*/

/* All this for a single dividing line */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow-x: visible;
    overflow-y: visible;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* connected
.standard-divider {
    width: 450px;
    height: 0px;
    margin: 0 auto;
    border: 3px solid rgba(67, 62, 58, 0.75);
}

. recordings-title-sm {
}

#sections-divider-sm {
    margin: 0 auto;
    border: 1px solid rgba(67, 62, 58, 0.75);
}
connected*/
/* All this for a single dividing line */

/*
. recordings-info {
}
*/

.recordings-info-bg {
    background-color: rgba(255, 255, 255);
}

.tiffany-painting {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

/*
.recordings-md {
}
*/